//this file is for html 

<!--.ejs file k andr hm ekdm html wala code likh skte h and hme isko website pr dikhane k liye koi route to use krna hoga
//we will use slash route
//see hm yha .send  ka use mhi krenge yha hm render keyword ka use krenge
-->


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1></h1>
    <form action="/get-form-data"
    method="post">
        <input type="text" 
        placeholder="enter username"
        name="username">
        <input type="text"
        placeholder="enter your gmail"
        name="gmail">
    <input type="password"
    placeholder="enter your password"
    name="password">
<button>submit form</button>
<script src =index.js></script>
</body>

</html>